<%= form_for([@blogpost, @comment]) do |f| %>
  <% if @blogpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>

      <ul>
      <% @blogpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :comment_entry, class:"sr-only" %><br>
    <%= f.text_area :comment_entry, class:"form-control", placeholder: "Comment", rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :author, class:"sr-only" %><br>
    <%= f.text_field :author, class:"form-control", placeholder: "author" %>
  </div>
  <div class="field cant-see-me">
    <%= f.number_field :blogpost_id, value: @blogpost.id %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
